* {
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
}
a {
  text-decoration: none;
  color: #20a097;
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans"), url("ProductSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Product Sans Bold";
  src: url("./ProductSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Old Republic Bold";
  src: url("./SF\ Old\ Republic\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-ExtraBold.otf") format("truetype");
}
html {
  scroll-behavior: smooth;
}
html {
}
body {
  background-size: cover;
}

.first {
  height: 100vh;
  width: 100%;
  background: url(https://i.imgur.com/DuYHlMX.png);
  background-size: cover;
}

.logo {
  margin-left: 7%;
  padding-top: 5%;
  font-family: "Gilroy";
  color: #0b4440;
}
.logo h1 {
  font-size: 64px;
  width: 20%;
}

.forestdrone {
  margin-right: 7%;
  margin-top: -5%;
  width: 35%;
  float: right;
}

.landhead {
  width: 50%;
  float: left;
  margin-left: 7%;
  margin-top: 3%;
  font-weight: bolder;
}
.landhead h1 {
  color: #0f524f;
  margin-top: 10%;
  font-family: "Product Sans Bold";
  font-size: 60px;
}
.landhead h1 span {
  color: #0a7069;
}

.landhead p {
  font-size: 26px;
  margin-top: 5%;
  font-family: "Product Sans";
  font-weight: lighter;
  color: #30aa93;
}

.second {
  height: 100vh;
  width: 100%;
  background-image: url(./background2-01.png);
  background-size: cover;
  background-color: #126a5d;
}
.problemhead {
  padding: 7%;
  width: 40%;
}
.problemhead h1 {
  color: white;
  font-family: "Product Sans Bold";
  font-size: 60px;
}
.problemhead p {
  font-family: "Product Sans";
  margin-top: 5%;
  font-size: 28px;
  color: rgb(215, 255, 232);
}
.third {
  padding: 7%;
  margin: 0;
}
.aimhead {
  width: 100%;
}
.aimhead p {
  text-align: center;
  font-family: "Product Sans";
  margin-top: 5%;
  font-size: 28px;
  color: #20a097;
}

.container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 16px;
  /* border: 8px solid #42ece307;*/
  /*  cursor: pointer;*/
  /* border-radius: 10%;*/
  width: 20%;
  padding: 50px;
  /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);*/
  /*  transform-style: preserve-3d;*/
}
.card h1 {
  color: #0b4440;
  font-family: "Product Sans Bold";
  transform: translateZ(20px);
  text-align: center;
}
.card img {
  transform: translateZ(40px);
  padding-bottom: 50px;
  display: block;
  margin: auto;
  width: 70%;
}

.subscribe {
  padding-top: 5%;
  padding-bottom: 6%;
  background: url(./background-01.png);
  background-size: cover;
  background-color: #0a7069;
}

.subscribe form {
  padding-left: 7%;
  padding-right: 7%;
}
.subscribe h2 {
  font-size: 26px;
  color: white;
  font-family: "Product Sans";
  font-weight: lighter;
  margin-bottom: 30px;
}
.subscribe form input[type="text"] {
  width: 300px;
  background-color: #ffffff10;
  padding: 10px;
  border: none;
  border-bottom: 4px solid white;
  outline: none;
  color: white;
}

::placeholder {
  font-family: "Product Sans";
  font-size: 16px;
  color: white;
}
button {
  cursor: pointer;
  font-family: "Product Sans";
  font-size: 16px;
  color: #0b4440;
  padding: 10px;
  border: none;
  transition: ease-in-out 0.2s;
  background-color: white;
}

.formb {
  display: flex;
  flex-direction: row;
}
.copy {
  font-size: 20px;
  transform: translateY(-50px);
  font-family: "Product Sans";
  float: right;
  margin-right: 7%;
  color: white;
}

.update {
  padding: 2%;
  font-size: 20px;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
  background: #20a097c2;
  color: white;
  font-family: "Product Sans";
}
.update span {
  font-family: "Product Sans Bold";
}
/*responsive shit*/
@media only screen and (max-width: 850px) {
  .logo {
    margin-left: 10%;
  }
  .logo h1 {
    text-align: center;
    font-size: 42px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .landhead {
    width: 80%;
    float: none;
    margin-left: 10%;
    margin-top: 5%;
    font-weight: bolder;
  }
  .landhead h1 {
    font-size: 46px;
  }
  .landhead p {
    font-size: 26px;
  }
  .forestdrone {
    padding-top: 15%;
    width: 60%;
    display: block;
    margin: auto;
    float: none;
  }
  .problemhead {
    padding: 10%;
    padding-top: 50%;
    width: 80%;
  }
  .problemhead h1 {
    margin-top: 35%;
    color: white;
    font-family: "Product Sans Bold";
    font-size: 48px;
  }
  .problemhead p {
    font-family: "Product Sans";
    margin-top: 5%;
    font-size: 19px;
    color: rgb(215, 255, 232);
  }
  .aimhead p {
    font-size: 19px;
  }
  .container {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    margin: 16px;
    /* border: 8px solid #42ece307;*/
    /*  cursor: pointer;*/
    /* border-radius: 10%;*/
    width: 40%;
    padding: 50px;
    /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);*/
    /*  transform-style: preserve-3d;*/
  }
  .card h1 {
    color: #0b4440;
    font-family: "Product Sans Bold";
    text-align: center;
  }
  .card img {
    transform: translateZ(40px);
    padding-bottom: 20px;
    display: block;
    margin: auto;
    width: 100%;
  }
  .subscribe {
    padding: 10%;
  }
  .subscribe form input[type="text"] {
    width: 140px;
  }
  .copy {
    float: none;
    font-size: 15px;
    transform: none;
    margin-top: 6%;
    margin-left: 7%;
  }

  .subscribe {
    margin: 0;
  }
  .subscribe h2 {
    font-size: 21px;
  }

  .update {
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background: #20a097;
    color: white;
    font-family: "Product Sans";
  }
}
